body {
    background-image: url(./image_background.jpg);
}

.calculator {
    margin-top: 18vh;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;

}

.calculator>h1 {
    color: rgb(255, 145, 0);
}

.text {
    margin-top: 80px;
}

.text h2 {
    font-family: sans-serif;
    font-size: 16px;
    color: aqua;
    text-align: center;
    margin-left: 12%;
}

.box1 {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 12vh;
    font-size: 200px;
    margin-right: 40px;
    margin-left: 8%;
}

.user-input {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 50px;
    width: 300px;
    border: 2px solid rgb(139, 254, 246);
    border-radius: 10px;
    font-size: 20px;
}

.box1>input {
    margin-right: 20px;
}

button {
    color: black;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: rgb(51, 250, 11);
    font-size: 15px;
    margin-top: 10px;
    margin-left: 40px;
}

.hit {
    display: inline-flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 15px;
    margin-right: 20px;
}

#unit {
    height: 30px;
    width: 160px;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid rgb(139, 254, 246);
    border-radius: 5px;
}

.box2 {
    display: inline-block;
    font-family: sans-serif;
    background-color: #ffffff;
    border: 2px solid rgb(0, 255, 238);
    border-radius: 5px;
    height: 50px;
    width: 300px;
    font-size: 20px;
}

footer {
    text-align: center;
    color: rgb(0, 255, 242);
    font-family: sans-serif;
    margin-top: 92px;
    font-size: 17px;
}